ul li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-pdf__Page {  
  border: 1px solid green;
  max-height: 98vh;
}

.react-pdf__Outline ul li {
  max-width: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  border: 1px solid blue;
}

.document-article {
  min-width: 50vw;  
  border: 1px solid gold;
}

  .document-article canvas {
    min-width: 50vw;
    max-height: 98vh;
  }

.react-pdf__Page__canvas {
  display: none;
}

.topics li {
  padding: 0.5rem;
}